#pongolf {
    position: relative;
    left: 50%;
    margin-left: -640px;
}

#logo {
    width:1280px;
    height:200px;
    position: relative;
    left: 50%;
    margin-left: -640px;
}

body {
    background-color: darkgoldenrod;
}